{% load static %}

<html>
  <head>
    <title>Istagram</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cookie|Lobster&display=swap" rel="stylesheet">
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" />
  </head>
  <body>
    <!-- Header -->
    <div class="header">
      <!-- Logo -->
      <div class="logo">
        <img class="logo-image" src="{% static 'assets/images/instagram-logo.png' %}" />
        <a href="{% url 'home' %}">
          <span class="logo-text">Istagram</span>
        </a>
      </div>
      <!-- Logo -->

      <!-- Search input -->
      <input class="search-input" placeholder="ค้นหา" />
      <!-- Search input -->

      <!-- Menu -->
      <div class="menu">
        <a href="{% url 'home' %}"><i class="far fa-compass fa-lg"></i></a>
        <a href="#"><i class="far fa-heart fa-lg"></i></a>
        <a href="{% url 'profile' %}"><i class="far fa-user fa-lg"></i></a>
      </div>
      <!-- Menu -->
    </div>
    <!-- Header -->

    <main>
      {%block content%}
      {%endblock content%}
    </main>

    <footer>
      <div>© 2019 Istagram</div>
    </footer>
  </body>
</html>
