{% extends "base.html" %}
{% load static %}

{%block content%}
  <!-- Profile -->
  <div class="profile">
    <!-- Profile Image -->
    <div class="profile-image">
      <img class="rounded-circle" src="{% static 'assets/images/parn.jpg' %}" />
    </div>
    <!-- Profile Image -->

    <!-- Profile Description -->
    <div class="profile-description">
      <div class="title">

        <span>{{ user }}</span>
        <button>แก้ไขโปรไฟล์</button>
      </div>
      <div class="stat">
        <b>119</b> โพสต์
        ผู้ติดตาม <b>404</b> คน
        กำลังติดตาม <b>346</b> คน
      </div>
      <div>
        {{ user.biography }}
      </div>
    </div>
    <!-- Profile Description -->
  </div>
  <!-- Profile -->
{%endblock content%}
