body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(250, 250, 250);
}

button {
  padding-left: 10px;
  padding-right: 10px;
  border: solid 1px rgb(219, 219, 219);
  border-radius: 3px;
  line-height: 25px;
  background-color: white;
  font-size: 14px;
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

/* Header layout */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 77px;
  width: 100%;
  padding: 20px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.098);
  background-color: white;
}

/* Logo section */
.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 50px;
  height: 50px;
}

.logo-text {
  font-family: Cookie;
  font-size: 32px;
}

/* Search input */
.search-input {
  width: 200px;
  padding-left: 10px;
  border: solid 1px rgb(219, 219, 219);
  border-radius: 3px;
  line-height: 25px;
  background-color: rgb(250, 250, 250);
  font-size: 12px;
}

/* Menu section */
.menu {
  display: flex;
  justify-content: space-between;
}

.menu > a {
  margin: 10px;
}

/* Profile component */
.profile {
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-top: 60px;
  margin-bottom: 44px;
}

/* Profile image component */
.profile-image {
  display: flex;
  justify-content: center;
  width: 33%;
}

.profile-image > img {
  width: 150px;
  height: 150px;
}

/* Profile description component */
.profile-description {
  width: 66%;
}

.profile-description > .title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-description > .title > span {
  margin-right: 10px;
  font-size: 28px;
}

.profile-description > .title > span {
  font-size: 28px;
}

.profile-description > .stat {
  margin-bottom: 20px;
}

.posts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 935px;
  padding-top: 40px;
  margin-bottom: 60px;
  border-top: solid 1px rgb(239, 239, 239);
}

.posts > .post {
  width: 33%;
  padding: 10px;
}

.posts > .post > a {
  position: relative;
  display: block;
}

.posts > .post > a > img {
  width: 100%;
}

.posts > .post > a > .overlay {
  opacity: 0;
}

.posts > .post > a:hover > .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.posts > .post > a > .overlay > .information {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.posts > .post > a > .overlay > .information > span > i {
  margin-right: 5px;
}

.posts > .post > a > .overlay > .information > span {
  margin-right: 10px;
}

/* Post list component */
.post-list {
  min-width: 614px;
  padding: 40px;
}

.post-list > .post {
  border: solid 1px rgba(0, 0, 0, 0.098);
  background-color: white;
  margin-bottom: 60px;
}

.post-list > .post > .user-detail {
  height: 60px;
  padding: 16px;
}

.post-list > .post > .user-detail > img {
  width: 32px;
  margin-right: 5px;
}

.post-list > .post > img {
  width: 100%;
}

.post-list > .post > .like-by {
  padding-top: 10px;
  padding-left: 20px;
}

.post-list > .post > .like-by > a {
  margin-right: 10px;
}

.post-list > .post > .like-counter {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
}

.post-list > .post > .description {
  padding-left: 20px;
  padding-right: 20px;
}

.post-list > .post > .comments {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.post-list > .post > .comment-box > form > div {
  margin-bottom: 0 !important;
  border-top: solid 1px rgba(0, 0, 0, 0.098);
}

.post-list > .post > .comment-box > form {
  margin: 0;
}

.post-list > .post > .comment-box > form > div > input {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border: 0;
}

.post-list > .post > .comment-box > form > div > div > button {
  border: 0;
}

footer {
  display: flex;
  justify-content: center;
  height: 60px;
}
